body {
    scroll-behavior: smooth;
}

.scrollTop {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: xx-large;
    font-family: math;
}

.scrollToTopButton {
    position: fixed;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: navajowhite;
    background-color: aquamarine;
    font-family: inherit;
    right: 5px;
    bottom: 20px;
}

.disabled {
    display: none;
}

.fillingDiv {
    height: 100vh;
}