body {
    padding: 0;
    margin: 0;
    background-image: url("IMG/indir.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    /* width: 100%; */
    background-position: bottom;
}

.weatherr {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    width: 100%;
    gap: 20px;
    backdrop-filter: blur(16px);
    border-radius: 10px;
    padding-block: 20px;
    border: 2px solid beige;
}

.weather>input {
    border: navajowhite;
    border-bottom: 1px solid white;
    background-color: transparent;
    height: 24px;
    width: 30%;
    color: #ffffff;
    font-family: inherit;
    text-align: center;
}

.titleProject {
    font-size: 82px;
    color: #ffffff;

    text-decoration: underline;
}

.infoCity {
    display: flex;
    flex-direction: column;
    color: #ffff;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.cityName {
    font-size: 40px;
}

.degree {
    font-size: 50px;
    display: flex;
    align-items: center;
}

.degree>img {
    height: 80px;
}

.description {
    font-size: 30px;
}